img{
  max-width: 100%;
}
.container, .container-fluid {
  padding: 0;
}
.center{
  text-align: center;
}
.page-header{
  text-align: center;
}
.bg-gris-tres-tres-clair{
  background-color: @gris-tres-tres-clair;
}
.vert-fonce{
  color: @vert-fonce;
}
.vert-mi-fonce{
  color: @vert-mi-fonce;
}
h2.page-header{
  margin-top: 20px;
}
#fixed-right-menu{
  @media screen and (min-width: @screen-xl) {
    position: fixed;
    margin-left: 82%;
    z-index: 1040;
    background-color: @gris-clair;
    width: 10.9%;
    margin-top: 36px;
    a {
      color: white;
    }
  }
  @media screen and (min-width:  @container-desktop) and (max-width: @screen-xl) {
    padding: 0 50px;
  }
  h3 {
    font-size: 1.2em;
  }
  a{
    display: block;
    &.selected-link{
      color: red;
    }
  }
  padding-bottom: 20px;
}
/* marge interne des zones du site ***********************************************/
#navbar .container>div,
.region-footer-cols,
#block-system-main>.view-display-id-page >.view-header,
body.page-products #block-system-main>.view-display-id-page > .view-content>.views-row,
body.page-products #block-system-main .attachment-after .views-row,
body.page-products #block-system-main .attachment-after .view-header,
body.page-node.not-front .main-container,
#block-views-evenements-block-home-event {
  padding: 0 50px;
  @media (max-width:  @container-desktop) {
    padding: 0 5px;
  }
}
