img{
  max-width: 100%;
}
.file-icon{
  display: none;
}
.field-collection-view{
  margin: 0;
}
.container, .container-fluid {
  padding: 0;
}
.center{
  text-align: center;
}
.page-header{
  text-align: center;
}

.row-eq-height {
  @media screen and (min-width:@screen-md){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
table.table-classic{
  td{
    padding-right: 20px;
  }
}
table.table-configuration{
  td,th{
    padding: 5px;
    border : 4px solid white;
  }
}
/* couleurs ***********************************************************************************************************/
.bg-gris-tres-tres-clair{
  background-color: @gris-tres-tres-clair;
}
.bg-gris-tres-clair{
  background-color: @gris-tres-clair;
}
.bg-gris-extrement-clair{
  background-color: @gris-extrement-clair;
}
.bg-bleu-clair{
  background-color: @bleu-clair;
}
.vert-fonce{
  color: @vert-fonce;
}
.vert-mi-fonce{
  color: @vert-mi-fonce;
}
h2.page-header{
  margin-top: 40px;
}
#fixed-right-menu{
  @media screen and (min-width: @screen-xl) {
    position: fixed;
    margin-left: 82%;
    z-index: 1040;
    background-color: @gris-clair;
    width: 10.9%;
    margin-top: 36px;
    padding: 0;
    a {
      color: white;
    }
    h3.overview-right-menu{
      background-color: @gris-tres-clair;
      padding: 0;
      margin: 0;
      a{
        display: block;
        padding: 5px 5px 5px 20px;
        color: @bleu-moyen;
        border-bottom: 3px solid white;
      }
    }
    h3.whithout-link{
      padding: 5px 5px 0px 20px;
      margin: 5px 0 0 0;
      font-weight: bold;
    }
    .views-field-title a{
      padding: 5px 5px 5px 20px;
    }
    .view-display-id-attachment_2{
      background-color: @vert-vegetal;
    }
    .downloads-right-menu{
      background-color: @bleu-doux;
      border-top: 3px solid white;
      a{
        display: block;
        padding: 5px 5px 5px 20px;
      }
    }
  }

  @media screen and (min-width:  @container-desktop) and (max-width: @screen-xl) {
    padding: 0 50px;
  }
  h3 {
    font-size: 1.2em;
  }
  a{
    display: block;
    &.selected-link{
      color: black;
      background: url(../images/bullet-black.png) no-repeat 8px 15px;
    }
  }
  padding-bottom: 20px;
}
#top-arrow{
  @media screen and (min-width: @screen-xl) {
    position: fixed;
    bottom : 100px;
    right: 7%;
  }
  display: none;
}
/* marge interne des zones du site ***********************************************/
#navbar .container>div,
.region-footer-cols,
#block-system-main>.view-display-id-page >.view-header,
body.page-products #block-system-main>.view-display-id-page > .view-content>.views-row,
body.page-products #block-system-main .attachment-after .views-row,
body.page-products #block-system-main .attachment-after .view-header,
body.page-products #block-system-main .view-display-id-page_3 >.view-content > .views-row,
body.page-products #block-system-main .view-display-id-page_4 >.view-content > .views-row,
body.page-node.not-front .main-container .region-content,
#block-views-evenements-block-home-event {
  padding: 0 50px;
  @media (max-width:  @container-desktop) {
    padding: 0 5px;
  }
}

/* formulaires ********************************************************************/
.webform-client-form{
  label{
    width: 15%;
    float: left;
    text-align: right;
    margin-bottom: 5px;
    font-weight: bold;
    clear: left;
    @media(max-width: @screen-sm){
      width: 150px;
    }
  }
  input{
    width: 60%;
    float: left;
    margin-bottom: 5px;
    &.form-radio,&.form-checkbox{
      width: auto;
      margin-left: 30px;
    }
    @media(max-width: @screen-sm){
      width: 50%;
    }
  }
  .description{
    clear: both;
    margin-bottom: 10px;
  }
}
