@body-bg:               #FFFFFF;
@gris-fonce:            #222222;
@gris-moyen-fonce:      #828282;
@gris-clair:            #AFB4AD;
@gris-tres-clair:       #D6DED1;
@gris-tres-tres-clair:  #EEEEEE;
@gris-menus-hauts:      #E1E1E1;
@gris-extrement-clair:  #F9F9F9;
@noir:                  #000000;
@vert-fonce:            #076C06;
@vert-mi-fonce:         #30952F;
@vert-vegetal:          #ACC67F;
@vert-fonce-logo:       #329747;
@plus-addon:            #90C02C;
@bleu-nuit:             #004353;
@bleu-download:         #00748C;
@bleu-clair:            #E5F0F2;
@bleu-lien:             #337ab7;
@bleu-moyen:            #2C899A;
@bleu-doux:             #A1CBC9;
@rouge-eliis:           #8E1004;


