body.page-node.not-front.node-type-licensed-page .main-container .region-content{
  padding: 0;
  @media (max-width:  @container-desktop) {
    padding: 0 5px;
  }
  h3, .field-name-field-paleoscan-tm, .field-collection-container{
    padding-left: 20px;
  }
  
    .group-sofware{
    /* private files ******************************************************************************************************/
    .group-paleoscan {
      .paleoscan-sup-label{
        margin: 20px;
      }
      > p{
        margin-left: 20px;
      }
      .private-file .red-download{
        a{
          color: @rouge-eliis;
          font-size: 1.3em;
          &:before {
            .glyphicon();
            color: @rouge-eliis;
          }
        }
      }
    }
    h3{
      padding-right: 65px;
      background: url(../images/icons/exe.png) no-repeat 100% 50%;
      display: table;
      line-height: 3em;
      span{
        &:after{
          .line_under_h3();
        }
      }
    }

    .field-name-field-sofware-description{
      font-size: 0.8em;
      font-style: italic;
      padding-top: 3px;
    }
    .field-name-field-release-notes{
      clear: both;
      a{
        .pdf-right();
      }
    }
    .group-same-height > div{
      padding-top: 15px;
      .blue_background_transparent();
    }
      .icons-paleo-data-api();
  }
  .group-license-request{
    h3{
      padding-right: 65px;
      background: url(../images/icons/setting.png) no-repeat 100% 50%;
      display: table;
      line-height: 3em;
      span{
        &:after{
          .line_under_h3();
        }
      }
    }
    .group-same-height-2{
      padding-left: 20px;
    }
  }
  .group-same-height-3{
    h3{
      display: table;
      line-height: 3em;
      &:after{
        .line_under_h3();
      }
    }
    > .col-md-12 > *{
      padding-left: 20px;
    }
  }
  
  .group-configuration{
    padding-bottom: 20px;
    h3{
      display: table;
      line-height: 3em;
      &:after{
        .line_under_h3();
      }
    }
    .field-name-configuration-anchor{
      position: absolute;
      width: 1px;
      height: 1px;
      top: -1000em;
      overflow: hidden;
    }
    > *{
      margin-left: 20px;
    }
  }

}
