.footer{
  height: 50vh;
}
.region-footer-cols{
  > div{
    margin-top: 30px;
    h2{
      color: @bleu-nuit;
    }
  }
}
.social-courtesy{
  background-color: @bleu-clair;
  min-height: 50px;
}
#block-menu-menu-bottom-courtesy-nav{
  float: right;
  ul li{
    float: left;
  }
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
#footer-adress{
  clear: both;
  background-color: @bleu-nuit;
  padding: 30px 0;
  > div{
    text-align:  center;
    color: white;
  }

}