div.node-webform{

  @media (min-width: @screen-md){
    width: 50%;
    margin: 0 auto;
    label{
      min-width: 200px;
    }
    .form-select{
      margin-left: 225px;
    }
  }
  input[type=text],input[type=email],select.form-select{
    max-width: 300px;
  }
  /* select > option classique ***********************************/
  .webform-component-select{
    label{
      padding-right: 20px;
    }
  }
  /* boutons radios classiques ***********************************/
  .webform-component-radios{
    .form-type-radio{
      position: relative;
      float: left;
      display: table;
      margin: 0;
      input[type=radio]{
        position: inherit;
        display: block;
        float: left;
      }
      label{
        display: block;
        float: left;
        padding: 0 0 0 5px;
        margin: -22px 0 0 40px;
        text-align: left;
        min-width: auto;
        white-space: nowrap;
      }
    }

  }
  .webform-component-checkboxes{
    display: table;
    margin-top: 10px;
    > label{
      display: table-cell;
    }
    .form-checkboxes{
      display: table-cell;
      .form-type-checkbox{
        position: relative;
        float: none;
        display: table;
        margin: 0;
        input[type=checkbox]{
          position: inherit;
          display: block;
          float: left;
        }
        label{
          display: block;
          float: left;
          padding: 0 0 0 5px;
          margin: -22px 0 0 40px;
          text-align: left;
        }
      }
    }

  }
  /* boutons radios avec commentaires ***********************************/
  .webform-component-optionsmarkup{
    display: table;
    margin-left: 3%;
    > label{
      display: table-cell;
      padding-right: 20px;
      p{
        margin-top: -32px;
      }
    }
    > .form-radios{
      display: table-cell;
      .webform-component{
        display: table;
        input[type=radio]{
          position: inherit;
          display: block;
          float: left;
          margin-left: 0;
        }
        label{
          display: block;
          float: left;
          padding: 0 0 0 5px;
          margin: -22px 0 0 15px;
          text-align: left;

        }
      }
    }
  }
}


.node-type-webform {
  .webform-client-form-17 {
    .checkbox input[type=checkbox] {
      position: absolute;
      left: 250px;
    }
  }
}

