.webform-component-radios{
  .form-type-radio{
    position: relative;
    float: left;
    display: table;
    margin: 0;
    input[type=radio]{
      position: inherit;
      display: block;
      float: left;
    }
    label{
      display: block;
      float: left;
      width: auto;
      padding: 0 0 0 5px;
      margin: -22px 0 0 40px;
      text-align: left;
    }
  }
}

