/* Supprime les raccourcis */
.region-page-top #toolbar{
  display:none;
}
/* Gestion de la marge de la barre de navigation */
.navbar-fixed-top {
  top: -20px;
}
.main-container {
  margin-top: 60px;
}
body.admin-menu{
  .navbar-fixed-top {
    top: 8px;
  }
  .main-container {
    margin-top: 20px;
  }
}


