@media (min-width: 1800px) {
  .container{
    max-width: none;
    width: 1700px;
  }
  .navbar.container{
    max-width: none;
    width: 1670px;
  }
}
@media (min-width: 2000px) {
  .container,.navbar.container {
    max-width: none;
    width: 1950px;
  }
}