@media (min-width: @screen-sm) {/* 768px */
  .container, .navbar.container {
    max-width: none;
    width: 100%;
  }
}
@media (min-width: @screen-xl) {/* 1810px */
  .container{
    max-width: none;
    width: 100%;
  }
  .navbar.container{
    max-width: none;
    width: 100%;
  }
}

@media (min-width: @screen-xxl) {/* 2000px */
  .container,.navbar.container {
    max-width: none;
    width: 100%;
  }
}