body.node-type-support{
  &.node-type-support .main-container .region-content{
    padding:0;
  }
  .field-collection-view{
    padding: 0;
    margin: 0;
  }
  .panel-body {
    padding: 0 15px;
  }
  .group-help-files{
    .blue_background_transparent();
    > .panel-heading{
      margin: 0 0 20px 0;
    }
    .icons-paleo-data-api();
  }
  .panel-body .col-md-4{
    min-height: 50px;
    padding-top: 15px;
    border: 1px solid transparent;
  }
  .panel-default>.panel-heading{
    background-color: #FFF;
  }

  #block-system-main .group-global-wrapper {
    h3{
      position: absolute;
      margin-top: -15px;
      z-index: 1;
      display: table;
      padding: 0 80px 0 20px;
      background: url(../images/icons/pdf_gros.png) 100% 50% no-repeat;
      line-height: 3em;
      width: 210px;
      span{
        &:after{
          .line_under_h3();
          width: 180%;
        }
      }
    }

    .row-eq-height{
      min-height: 50px;
      > .field-group-div{
        padding-top: 50px;
        padding-bottom: 15px;
      }
    }
  }
  #block-system-main .group-training-doc{
    h3{
      display: table;
      width: 210px;
      padding: 0 80px 0 20px;
      line-height: 3em;
      span{
        &:after{
          .line_under_h3();
          width: 180%;
        }
      }
    }
    .group-tuto-col1 h4{
      .small-pdf-right();
    }
    .group-tuto-col2 h4{
      .small-ppt-right();
    }

  }

  /* vidéos **********************************************************************************************************/
  .group-video-wrapper{
    margin-top: 20px;
    h3{
      position: absolute;
      margin-top: 0;
      z-index: 1;
      display: table;
      padding: 0 80px 0 20px;
      background: url(../images/icons/video.png) 100% 50% no-repeat;
      line-height: 3em;
      width: 210px;
      span{
        &:after{
          .line_under_h3();
          width: 180%;
        }
      }
    }
    .view-display-id-page_videos_support{
      position: relative;
      background-color: @gris-tres-tres-clair;
      padding: 80px 60px 60px 60px;
      min-height: 380px;
      iframe{
        max-width: 100% !important;
      }
      @media (min-width: @screen-md){
        > .view-content .views-row{
          position: absolute;
          right: 15px;
          top: 15px;
        }
      }
      .video-list-left{
        cursor: pointer;
        color: @bleu-lien;
        text-decoration: underline;
        font-size: 1.2em;
        padding: 5px;
        &.video-controler-selected{
          cursor: default;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}
